  .actions {
    text-align: right;
    align-items: center;
    display: flex;
    justify-content: center;
    top: 20px;
  }
  
  .actions button {
    font: inherit;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid #BF8E14;
    padding: 0.5rem 2rem;
    border-radius: 25px;
    margin-left: 1rem;
    justify-content: center;
  }
  
  .actions button:hover,
  .actions button:active {
    background-color: #BF8E14;
    color: black;
  }
  
  .actions .button--alt {
    color: black;
    background-color: white;
  }

  @media all and (min-width: 320px) and (max-width: 719px) {
    .actions button {
      display: flex;
      width: 15px;
      font-size: 10px;
      height: 8px;
      align-items: center;
      margin-right: 14px;
      
    }
  }