.header {
    position: fixed;
    width: 100%;
    height: 7rem;
    background-color: black;
    color: #FCB714;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    z-index: 10;
    border-bottom: 3px solid #FCB714;
  }

  .header nav > a {
    color: #FCB714;
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
  }
.header nav > a:hover {
  background: #FCB714;
  color: black;
  border-radius: 30px;
  transition: 0.5s;
}
.header p {
  font-weight: bold;
}
  
  .main-image {
    width: 100%;
    height: 30rem;
    z-index: 0;
    overflow: hidden;
  }
  
  .main-image img {
    width: 110%;
    height: 100%;
    object-fit: cover; 
  }

  .logo-image img {
    height: 7rem;
    width: 9rem;
  }
  @media all and (min-width: 320px) and (max-width: 520px) {
    .logo-image img {
      height: 5rem;
      width: 5rem;
    }
  }

  @media all and (min-width: 320px) and (max-width: 719px) {
    .header {
      display: flex;
    }
  }

  @media all and (max-width: 720px) {
    .header  {
      font-size: 6px;
    }
    .header nav > a {
      padding: 5px;
    }
  }