.slider {
    position: relative;
    top: 1rem;
    padding-bottom: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image {
    width: 700px;
    height: 600px;
    border-radius: 10px;
}

.right-arrow {
    position: absolute;
    top: 50%;
    right: 30rem;
    font-size: 3rem;
    color: white;
    z-index: 10;
    cursor:pointer;
    user-select: none;
}

.left-arrow {
    position: absolute;
    top: 50%;
    left: 30rem;
    font-size: 3rem;
    color: white;
    z-index: 10;
    cursor:pointer;
    user-select: none;
}

.slide {
    opacity: 0;
    transition-duration: 1s ease;
}

.slide.active {
    opacity: 1;
    transition-duration: 1s;
    transform: slace(1.08);
}

@media all and (min-width: 320px) and (max-width: 719px) {
    .image {
        min-width: 100%;
        position: relative;
        width: 300px;
        height: 250px;
    }
  }
@media all and (min-width: 320px) and (max-width: 500px) {
    .left-arrow {
      left: 1rem;
    }
    .right-arrow {
      right: 1rem;
    }
}
@media all and (min-width: 501px) and (max-width: 719px) {
    .left-arrow {
      left: 5rem;
      color: black;
    }
    .right-arrow {
      right: 5rem;
      color: black;
    }
}
@media all and (min-width: 720px) and (max-width: 1000px) {
    .left-arrow {
      left: 5rem;
    }
    .right-arrow {
      right: 5rem;
    }
@media all and (min-width: 1001px) and (max-width: 1600px) {
    .left-arrow {
          left: 5rem;
    }
    .right-arrow {
          right: 5rem;
    }
    }
}