.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 20;
    background-color: rgba(0, 0, 0, 0.75);
  }
  
  .modal {
    position: fixed;
    width: 34.50rem;
    top: 13vh;
     height: 41%;
    background-image: url(./../../assets/meni.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    justify-content: center;
    padding: 0.50rem;
    border-radius: 14px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    z-index: 30;
    animation: slide-down 300ms ease-out forwards;
  }
  
  @media all and (min-width: 320px) and (max-width: 400px) {
    .modal {
      width: 15rem;
      height: 10.4rem;
    }
  }
  @media all and (min-width: 401px) and (max-width: 719px) {
    .modal {
      width: 20rem;
      height: 14rem;
    }
  }

  @media all and (min-width: 720px) and (max-width: 1200px) {
     .modal {
       width: 28.75rem;
       height: 20rem;
     }
  }

  @media all and (min-width: 1201px) and (max-width: 1700px) {
    .modal {
      width: 40rem;
      height: 29rem;
    }
  }
  
  @keyframes slide-down {
    from {
      opacity: 0;
      transform: translateY(-3rem);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }